
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* Slider.css */

.slider {
  display: flex;
  width: 500px;
  height: 100px;
}

.partition {
  flex: 1;
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
}

.partition.active {
  background-color: #e0e0e0;
}

.hidden-image {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.partition.active .hidden-image {
  display: block;
}


